    .custom-shadow {
        transition: box-shadow .3s;
    }

    .custom-shadow:hover {
        -webkit-box-shadow: -1px 0px 25px 0px rgba(0, 0, 0, 0.76);
        -moz-box-shadow: -1px 0px 25px 0px rgba(0, 0, 0, 0.76);
        box-shadow: -1px 0px 25px 0px rgba(0, 0, 0, 0.76);
    }


    .icon {
        font-size: 1.5em;
    }

    .title-class {
        /* padding-left: 9px; */
        background-image: linear-gradient(300deg, #36beff, #733ff1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .braces {
        padding: 10px;
    }

    .teal {
        background-color: #e3f2fd;
    }

    .purple {
        background-color: #98BCFF;
    }

    .form-shadow {
        box-shadow: 7px 7px 0px -2px rgba(155, 193, 255, 0.59);
        -webkit-box-shadow: 7px 7px 0px -2px rgba(155, 193, 255, 0.59);
        -moz-box-shadow: 7px 7px 0px -2px rgba(155, 193, 255, 0.59);
    }

    .form-background {
        background-color: #fef6f1;
    }